

<div class="jumbotron page-header theme-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">

        <div class="type-h4">
         
          <a href="#" [routerLink]="['/']"> Deleted</a>
        </div>

      </div>
      <div class="col-md-12 ">



        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="#nav-item-1" [routerLink]="['/products/new']">New Product</a>
          </li>
          <li role="presentation">
            <a href="#nav-item-2">To be continued</a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>
</div>


