










  <div class="col-sm-6  ">

    <ol class="list-items">
      <li class="list-items-row">
        <div data-toggle="collapse" aria-expanded="false" data-target="#list-item-line-category">
          <div class="row">
            <h5>Category</h5>
          </div>
        </div>

        <div class="collapse" id="list-item-line-category">
          <form #f="ngForm" (ngSubmit)="submitCategory()" novalidate id="add-guardian-form" action="">
            <div class="row">
              <div class="col-md-18 col-md-offset-2">
                <input name="category" id="category" [(ngModel)]="category.name" type="text" class="form-control" placeholder="New Category " />
              </div>
              <div class="col-md-4 text-right">
                <button style="width:30px;" class="btn btn-block btn-secondary theme-light" href="#">Save</button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="list-items-row">
        <div data-toggle="collapse" aria-expanded="false" data-target="#list-item-line-productName">
          <div class="row">
            <h5>Product Name</h5>
          </div>
        </div>

        <div class="collapse" id="list-item-line-productName">
          <form #f="ngForm" (ngSubmit)="submitProductName()" novalidate id="add-productName-form" action="">
            <div class="row">
              <div class="col-md-18 col-md-offset-2">
                <input name="productName" id="productName" [(ngModel)]="productName.productName" type="text" class="form-control" placeholder="New Name " />
                <div class="form-group">
                  <label for="categoryItem">Select Category:</label>
                  <select name="productCategoryId" [(ngModel)]="productName.productCategoryId" class="form-control">
                    <option value="">Category is blank :(-</option>
                    <option *ngFor="let c of categoryItems " value="{{ c.id }}"> {{ c.name}} </option>

                  </select>

                </div>
              </div>
              <div class="col-md-4 text-right">
                <button style="width:30px;" class="btn btn-block btn-secondary theme-light" href="#">Save</button>
              </div>


            </div>
          </form>
        </div>
      </li>
      <li class="list-items-row">
        <div data-toggle="collapse" aria-expanded="false" data-target="#list-item-line-option">
          <div class="row">
            <h5>Product Option</h5>
          </div>
        </div>

        <div class="collapse" id="list-item-line-option">
          <form #f="ngForm" (ngSubmit)="submitOption()" novalidate id="add-productOption-form" action="">
            <div class="row">
              <div class="col-md-18 col-md-offset-2">
                <input name="option" id="option" [(ngModel)]="option.optionName" type="text" class="form-control" placeholder="New Name " />
                <div class="form-group">
                  <label for="categoryItem">Select Category:</label>
                  <select name="productId" [(ngModel)]="option.productId" class="form-control">
                    <option value="">Product Name is blank :(-</option>
                    <option *ngFor="let p of productNames " value="{{ p.id }}"> {{ p.productName}} </option>

                  </select>

                </div>
              </div>
              <div class="col-md-4 text-right">
                <button style="width:30px;" class="btn btn-block btn-secondary theme-light" href="#">Save</button>
              </div>


            </div>
          </form>
        </div>
      </li>

      <li class="list-items-row">
        <div data-toggle="collapse" aria-expanded="false" data-target="#list-item-line-optionValues">
          <div class="row">
            <h5>Option Values</h5>
          </div>
        </div>

        <div class="collapse" id="list-item-line-optionValues">
          <form #f="ngForm" (ngSubmit)="submitOptionValue()" novalidate id="add-optionValues-form" action="">
            <div class="row">
              <div class="col-md-18 col-md-offset-2">
                <input name="optionValue" id="optionValue" [(ngModel)]="optionValue.optionValueName" type="text" class="form-control" placeholder="New Name " />
                <div class="form-group">
                  <label for="categoryItem">Select Option:</label>
                  <select id="optionId" name="optionId" [(ngModel)]="optionValue.optionId" class="form-control">
                    <option value="">Option Name is blank :(-</option>
                    <option *ngFor="let o of options " value="{{ o.id }}"> {{ o.optionName}} </option>

                  </select>

                </div>
              </div>
              <div class="col-md-4 ">
                <button style="width:30px;" class="btn btn-block btn-secondary theme-light" href="#">Save</button>
              </div>
              {{optionValue | json}}

            </div>
          </form>
        </div>
      </li>
    </ol>





 


     



  </div>

  <div class="col-sm-18 "></div>
